.custom-filter-products {
  display: flex;
  align-items: center;
  font-size: 20px;
  position: relative;
  width: 350px;
}
.div-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  border: 1px solid #99c455;
  border-radius: 4px;
  height: 40px;
  width: 250px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.div-option {
  position: absolute;
  left: 80px;
  top: 42px;
  z-index: 2;
  border: 1px solid #99c455;
  width: 250px;

  border-radius: 4px;
  background-color: #fff;
}
.filter-option {
  cursor: pointer;
  padding: 10px 10px;
}
.filter-option:hover {
  background-color: #99c455;
}
.div-option {
  display: none;
}
.div-option.active {
  display: block;
}
