$bg-main: rgba(1, 6, 15, 1);
$bg-secondary: rgba(32, 36, 44, 1);
$bg-nav: rgba(44, 68, 81, 1);
$bg-secondary-hover: rgba(255, 255, 255, 0.16);
$bg-header: rgba(255, 255, 255, 0.04);

$bg-button-main: rgba(255, 255, 255, 1);
$bg-button-secondary: rgba(255, 255, 255, 0.04);

$border-main: rgba(53, 58, 65, 1);
$text-main: rgba(0, 0, 0, 1);
$text-gray: rgba(0, 0, 0, 0.8);
$text-gray-light: rgba(143, 145, 149, 1);
$text-white: rgba(255, 255, 255, 1);
